*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  
  margin: 0 auto;
  margin-top: 20px;


}

/* nav styles starts here */

.nav{
  background-color: rgb(255, 255, 255);
}

.nav_main{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.nav_left{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav_right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.youtube{
  padding:10px 30px;
}
.nav_container{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
 
}


/* banner sections */

.banner_section{

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url('./images/Group\ 14.png');
background-size: cover;
background-repeat: no-repeat;
}

.banner_left{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
}




.left_container img{
  width: 100%;
}





.banner_right{
  width: 40%;
}

.banner_right img{
  width: 100%;
}

.goat{
  background-image: linear-gradient(#F948B2,#8758F1);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 900;
  
  
}



@media screen and (max-width: 576px) {
  
  .container{
    width: 570px;
  }
  .nav_main{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   font-size: 3rem;
  }

  .nav_left{
    font-size: 2.5rem;
    margin: 50px;
  }
  .nav_right{
    flex-direction: column;
    line-height: 80px;
    font-size: 2rem;
  }
  .youtube{
    padding:10px 30px;
  }
  
}

.hide{
  display: none;
}