*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  
  margin: 0 auto;
  margin-top: 20px;


}

/* nav styles starts here */

.nav{
  background-color: rgb(255, 255, 255);
}

.nav_main{
  display: flex;
  justify-content: space-between;
}

.nav_left{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav_right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.youtube{
  padding:10px 30px;
}



@media screen and (max-width: 576px) {
  
  .container{
    width: 570px;
  }
  .nav_main{
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   font-size: 3rem;
  }

  .nav_left{
    font-size: 2.5rem;
    margin: 50px;
  }
  .nav_right{
    flex-direction: column;
    line-height: 80px;
    font-size: 2rem;
  }
  .youtube{
    padding:10px 30px;
  }
  
}

.hide{
  display: none;
}